.datetimepicker-days .today {
  background-color: #090909;
  color: #f7f7f7;
}

.datetimepicker-days .today:hover {
  transform: scale(0.9);
  background-color: #090909;
  color: #f7f7f7;
  transition-duration: 200ms;
}

.configure {
  top: 100px;
  width: 100%;
  left: 0;
  position: absolute;
}


#search {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -350px;
  font-size: 15px;
  font-family: "微软雅黑";
  font-weight: 500;
  border-radius: 5px;
  border-color: #f7f7f7;
  border: none;
  border-width: 0px;
  list-style: solid;
  height: 20px;
  width: 260px;
  padding: 10px;
  outline-color: transparent;
  outline: none;
  background-color: #f7f7f7; 
}

#search:focus {
  outline-color: transparent;
  outline-width: 0px;
  box-shadow: none;
}

#search:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition-duration: 200ms;
}

#time_start {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -50px;
  font-size: 15px;
  font-family: "微软雅黑";
  font-weight: 500;
  border-radius: 5px;
  border-color: #f7f7f7;
  border: none;
  border-width: 0px;
  list-style: solid;
  height: 20px;
  width: 260px;
  padding: 10px;
  outline-color: transparent;
  outline: none;
  background-color: #f7f7f7; 
}

#time_start:focus {
  outline-color: transparent;
  outline-width: 0px;
  box-shadow: none;
}

#time_start:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition-duration: 200ms;
}

#date_end {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 250px;
  font-size: 15px;
  font-family: "微软雅黑";
  font-weight: 500;
  border-radius: 5px;
  border-color: #f7f7f7;
  border: none;
  border-width: 0px;
  list-style: solid;
  height: 20px;
  width: 260px;
  padding: 10px;
  outline-color: transparent;
  outline: none;
  background-color: #f7f7f7; 
}

#date_end:focus {
  outline-color: transparent;
  outline-width: 0px;
  box-shadow: none;
}

#date_end:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition-duration: 200ms;
}

.btn_search {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 450px;
  border-radius: 5px;
  color: #f7f7f7;
  font-weight: 600;
  width: 80px;
  height: 40px;
  background-color: #090909;
  font-size: medium;
  border: hidden;
  letter-spacing: 2px;
}

.btn_search:hover {
  transform: translateX(-50%) scale(1.1);
  transition-duration: 200ms;
}

.btn_search:active {
  transform: translateX(-50%) scale(0.9);
  transition-duration: 200ms;
}

.pie_figure_1_container {
  z-index: 2;
  position: absolute;
  width: 40%;
  height: 300px;
  top: 25%;
  left: 5%;
  border: none;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  overflow: auto;
}

.pie_figure_2_container {
  z-index: 2;
  position: absolute;
  width: 40%;
  height: 300px;
  top: 25%;
  right: 5%;
  border: none;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  overflow: auto;
}

.dot3d_figure_container {
  z-index: 2;
  position: absolute;
  width: 40%;
  height: 300px;
  top: 550px;
  left: 5%;
  border: none;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  overflow: auto;
}

.map_figure_container {
  z-index: 2;
  position: absolute;
  width: 40%;
  height: 300px;
  top: 550px;
  right: 5%;
  border: none;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  overflow: auto;
}

.bottom_long {
  top: 1000px;
}